.background-character {
    position: absolute;
    top: 10%;
    right: 0%;
    z-index: -100;
    max-width: 100%;

    img {
        filter: opacity(30%) grayscale(70%);
        clip-path: polygon(90% 0, 30% 10%, 10% 90%, 65% 80%);
        position: relative;
        right: 0;
        width: 100%;
        max-width: 50rem;
        max-height: 70lvh;
    }
}

.foreground-character-wrapper {
    position: relative;
}
.foreground-character {
    pointer-events: none;
    position: absolute;
    top: -25vh;
    left: 10vw;
    z-index: 100;
    max-width: 100%;
    @media (max-width: 767px) {
        left: 0
    }

    svg.shard {
        width: 40vw;
        min-width: 20rem;
        height: 40vh;

        polygon {
            fill: var(--glass-color);
            stroke: var(--glass-border-color);
            stroke-width: 0.015rem;
            filter: drop-shadow(0.1rem 0.1rem 0.1rem var(--glass-shadow-color)) opacity(0.1);
        }
    }
}

nav:has(ul) {
    h2 {
        margin-block-start: 0;
        margin-inline-start: -0.2em;
        text-align: left;
        transform: rotate(0.5deg);
    }

    &::before {
        display: block;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 0.5px solid var(--glass-border-color);
        background-color: var(--glass-color);
        filter: drop-shadow(0.2em 0.2em 0.5em var(--glass-shadow-color)) opacity(0.1);
        content: "";
    }
    &:nth-of-type(1)::before {
        transform: rotate(0.5deg);
    }
    &:nth-of-type(2)::before {
        transform: translateX(-0.1em);
    }

    li:nth-child(2) {
        transform: rotate(-0.3deg);
    }
    li:nth-child(3) {
        transform: rotate(0.1deg);
    }
    li:nth-child(5) {
        transform: translateX(0.05em);
    }
}

.break {
    height: 1vh;
}

.ruby {
    display: inline-block;
    width: 1.2em;
    height: 1em;
    background-image: url("/index/ruby.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.ruby::before {
    content: " ";
}
