.background-character {
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -100;
    max-width: 100%;

    img {
        filter: opacity(30%) grayscale(70%);
        clip-path: polygon(90% 0, 30% 10%, 10% 90%, 65% 80%);
        position: relative;
        right: -10%;
        width: 100%;
        max-width: 50rem;
    }
}

.foreground-character {
    pointer-events: none;
    position: absolute;
    top: 15vh;
    left: 20vw;
    z-index: 100;
    max-width: 100%;
    @media (max-width: 767px) {
        left: 0
    }

    svg.shard {
        width: 40vw;
        min-width: 20rem;
        height: 40vh;
        transform: scaleX(-1);

        polygon {
            filter: drop-shadow(1px 1px 2px var(--tertiary-darker)) opacity(0.1);
            fill: var(--tertiary-lighter);
        }
    }
}
