.background-character {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -100;
    max-width: 100%;

    img {
        filter: opacity(30%) grayscale(70%);
        clip-path: polygon(10% 0, 70% 10%, 90% 90%, 35% 80%);
        position: relative;
        left: -10%;
        width: 100%;
    }
}

.foreground-character {
    pointer-events: none;
    position: absolute;
    top: 10%;
    right: 20%;
    z-index: 100;
    max-width: 100%;
    
    svg.shard {
        width: 30rem;
        height: 30rem;
        transform: rotate(-90deg);
        
        polygon {
            filter: drop-shadow(-1px 1px 1px var(--tertiary-darker)) opacity(0.1);
            fill: var(--tertiary-lighter);
        }
    }
}

/* @keyframes full-rotation-cw {
    from {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg); 
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes full-rotation-acw {
    from {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-90deg);
    }

    50% {
        transform: rotate(-180deg);
    }

    75% {
        transform: rotate(-270deg);
    }

    to {
        transform: rotate(-360deg);
    }
} */
