.background-character {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -100;
    max-width: 100%;

    img {
        filter: opacity(30%) grayscale(70%);
        clip-path: polygon(10% 0, 70% 10%, 90% 90%, 35% 80%);
        position: relative;
        left: -10%;
        width: 100%;
    }
}

.foreground-character {
    pointer-events: none;
    position: absolute;
    top: 10vh;
    right: 10vw;
    z-index: 100;
    max-width: 100%;
    @media (max-width: 767px) {
        right: 0
    }
    
    svg.shard {
        width: 40vw;
        min-width: 20rem;
        height: 40vh;
        
        polygon {
            filter: drop-shadow(1px 1px 1px var(--tertiary-darker)) opacity(0.1);
            fill: var(--tertiary-lighter);
        }
    }
}
